@use "./variables.scss" as *;

// put your custom CSS here!

// Trying to do an easy spinner animation
// Call with >> <span class="spinner"></span>
.spinner::before {
  content: "|";
  animation: spin 0.4s steps(1) infinite;
}
@keyframes spin {
  25% { content: "/"; }
  50% { content: "-"; }
  75% { content: "\\"; }
}